// blog home

.blog-post-things {
	padding: 10px;
	margin-top: 5px;
	font-size: 1.4em;
	text-align: justify;
}
.blog-post-thumbnail {
	@extend .blog-post-things;
	background: #f0f0f0;
}
.blog-post-thumbnail-parent .col-lg-6 {
	padding: 0;
}
.blog-post-thumbnail span {
	color: #000;
	background: #cec;
	padding: 3px;
	border-radius: 5px;
}
.blog-post-thumbnail h3 {
	line-height: 40px;
}



.blog-post-details {
	padding-top: 0;
	line-height:35px;
	@extend .blog-post-things;
}
.blog-post-details h1 {
	color: #4033e8;
	text-align: center;
	font-size: 3.5em;
}



@media screen and (max-width: 480px) {
	.blog-post-details h1 {
		font-size: 2.5em;
	}
}